@charset "UTF-8";

/* ============================
* フォント、背景
* ========================= */
:root {
  --font-10: 0.625rem;
  --font-12: 0.75rem;
  --font-13: 0.8125rem;
  --font-14: 0.875rem;
  --font-15: 0.9375rem;
  --font-16: 1rem;
  --font-17: 1.0625rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-21: 1.3125rem;
  --font-22: 1.375rem;
  --font-23: 1.4375rem;
  --font-24: 1.5rem;
  --font-26: 1.625rem;
  --font-27: 1.6875rem;
  --font-28: 1.75rem;
  --font-30: 1.875rem;
  --font-32: 2rem;
  --font-34: 2.215rem;
  --font-36: 2.25rem;
  --font-40: 2.25rem;
  --font-42: 2.625rem;
  --font-45: 2.8125rem;
  --font-46: 2.8755rem;
  --font-48: 3rem;
  --font-52: 3.25rem;
  --font-56: 3.5rem;
  --font-65: 4.0625rem;
  --font-72: 4.5rem;
  /* 104px */
  --title: 6.5rem;

  /* 文字カラー */
  --title-color: #5CAED3;
  --font-black: #333;
  --font-white: #fff;

  /* ラインカラー */
  --line-black: #333;
  --line-white: #fff;
  --line-gray: #ccc;

  /* 背景色 */
  --bg-black: #121212;
  --bg-white: #fff;
  --bg-red: #ff2a3a;
  --bg-gray: #ccc;
  --bg-darkgray: #414141;
  --bg-orange: #ff9646;
  --footer-bg: #121212;

  /* ボタンカラー */
  --btn-color: #4b4b4b;
  --btn-bg: #19a59a;
}

/* メディアクエリ */
/* @media screen and (max-width: 768px) {
} */

/* ============================
* 共通
* ========================= */
body {
  color: var(--font-black);
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-style: normal;
  font-size: 100%;
}

a {
  display: block;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

img {
  height: auto;
}

.hidden {
  display: none;
}

/* セクションタイトル */
.section__title {
  font-size: clamp(var(--font-24), 2.25vw, var(--font-36));
  line-height: 1.167;
  color: var(--font-black);
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.section__title.contact__heading {
  display: block;
  color: var(--font-white);
}

/* コンテンツ幅 */
.common-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 10.25vw;
}

.common-inner {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

/* ============================
  Header
========================= */
.header {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: var(--bg-white);
  z-index: 1;
  top: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2.5vw;
}

.header__logo {
  position: relative;
  z-index: 10;
}

/* メニューのスタイル */
.header-menu {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.3s;
  padding-top: 36px;
  padding-left: 50px;
}

@media screen and (max-width: 900px) {
  .header-menu {
    padding: 25px;
  }
}

.header-menu__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 25px;
}

.header-menu__list {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .header-menu__list {
    margin-top: 29px;
  }
}

.header-menu__item {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid var(--line-white)
}

.header-menu__item:last-child {
  border-bottom: 1px solid var(--line-white)
}

.header-menu__link,
.header-menu__sns-link {
  color: var(--font-white);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.7;
}

.header-menu__link {
  text-transform: uppercase;
}

.header-menu__sns-link {
  padding: 5px 0;
}

/* ハンバーガーメニュー */
.hidden-text {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.hamburger__wrapper {}

@media screen and (max-width: 900px) {
  .hamburger__wrapper {
    width: 100%;
  }
}

.hamburger {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1000;
}

@media screen and (max-width: 900px) {
  .hamburger {
    width: 30px;
    height: 20px;
  }
}

.hamburger:hover {
  opacity: 0.7;
  cursor: pointer;
}

.hamburger__line {
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: var(--line-black);
  transition: transform 0.3s, opacity 0.3s;
  position: absolute;
}

.hamburger__line::before,
.hamburger__line::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

.hamburger__line::before {
  top: -10px;
}

.hamburger__line::after {
  top: 10px;
}

/* メニューオープン時のクラス */
.hamburger[aria-expanded="true"] .hamburger__line {
  background-color: transparent;
}

.hamburger[aria-expanded="true"] .hamburger__line::before,
.hamburger[aria-expanded="true"] .hamburger__line::after {
  top: 0;
  background-color: var(--line-white);
  z-index: 100;
}

.hamburger[aria-expanded="true"] .hamburger__line::before {
  -webkit-transform: rotate(-315deg);
  -ms-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

.hamburger[aria-expanded="true"] .hamburger__line::after {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.header-menu.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 1;
}

.header-menu.open .header-menu__list-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: var(--bg-black);
  z-index: 1000;
}

.header-menu__list.open {
  transform: translateX(50px);
  transition: transform 0.5s ease;
}

/* ============================
  Main
========================= */

/* main-video */
.main-video__wrapper {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
}

.main-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PICK UP */
.pickup__inner {
  margin-bottom: 100px;
}

.pickup__body {
  display: flex;
}

/* FEATURE */
.feature__inner {
  margin-bottom: 60px;
}

.feature__body {
  display: grid;
  grid-template-columns: repeat(3, 385px);
  justify-content: space-between;
}

.feature__item {
  background-color: var(--bg-white);
  border: 1px solid var(--line-gray);
}

/* ============================
  Footer
 ========================= */
/* footer */
.footer {
  background-color: var(--footer-bg);
  padding-top: 50px;
  padding-bottom: 10px;
}

.footer .contact__body {
  display: flex;
  justify-content: space-between;
  gap: 8.75vw;
}

.footer .contact__body--left {
  width: 32.81vw;
}

.footer .contact__body--right {
  width: 33.94vw;
}

.footer__copy {
  display: block;
  font-size: 0.75rem;
  color: var(--font-white);
  text-align: center;
  margin-top: 20px;
}

/* CONTACT */
.contact {
  color: var(--font-white);
  font-weight: 400;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__form-input,
.contact__form-textarea {
  background-color: var(--bg-white);
}

.contact__form-submit {
  border: 1px solid var(--line-white);
  width: 200px;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
}
